m4l/state.json
__pycache__/
*.pyc
external_src/build/
external_src/max-sdk/
external_src/thirdparty/NeuralAmpModelerCore/
external_src/thirdparty/HISSTools_Library/
external_src/thirdparty/eigen/
external_src/thirdparty/nlohmann_json/
